<section id="advantages" class="section advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="container">
    <ul class="advantages__list list">
      <li class="advantages__item">
        <svg width="33" height="50" class="advantages__icons">
          <use href="./images/sprite.svg#icon-milk"></use>
        </svg>

        <span class="advantages__counters">721</span>
        <p class="advantages_description item__counter1">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg width="50" height="50" class="advantages__icons">
          <use href="./images/sprite.svg#icon-apples"></use>
        </svg>

        <span class="advantages__counters">16kg</span>
        <p class="advantages_description item__counter2">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg width="44" height="50" class="advantages__icons">
          <use href="./images/sprite.svg#icon-icecream"></use>
        </svg>

        <span class="advantages__counters">84</span>
        <p class="advantages_description item__counter3">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>