<section class="section reviews__section">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="reviews">
      <div class="reviews__slide">
        <img src="./images/customer-reviews/customer1.png" srcset="
            ./images/customer-reviews/customer1.png    1x,
            ./images/customer-reviews/customer1@2x.png 2x
          " alt="" class="reviews__photo" />
        <div class="reviews__text-wrap">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__author">Emily, Los Angeles</p>
      </div>
      <div class="reviews__slide">
        <img src="./images/customer-reviews/customer2.png" srcset="
            ./images/customer-reviews/customer2.png    1x,
            ./images/customer-reviews/customer2@2x.png 2x
          " alt="" class="reviews__photo" />
        <div class="reviews__text-wrap">
          <p class="reviews__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero amet nobis, totam autem voluptatum, corrupti
            ipsam sit natus, quia veritatis distinctio eius temporibus non similique placeat. Consequatur corporis
            harum, quae asperiores obcaecati quaerat suscipit quia placeat hic, error deleniti nemo, accusantium quasi
            odio! Non, voluptate eaque? Odio voluptas quaerat modi. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Suscipit quae enim ut illo ullam assumenda!
          </p>
        </div>
        <p class="reviews__author">Marry, New York</p>
      </div>
      <div class="reviews__slide">
        <img src="./images/customer-reviews/customer3.png" srcset="
            ./images/customer-reviews/customer3.png    1x,
            ./images/customer-reviews/customer3@2x.png 2x
          " alt="" class="reviews__photo" />
        <div class="reviews__text-wrap">
          <p class="reviews__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis obcaecati accusantium est ex laborum
            quae, ratione quasi, vel velit quos unde hic impedit nisi explicabo sint libero eius, placeat reiciendis
            dolor adipisci? Animi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, tempore
            quisquam? Dicta cupiditate nobis tempore voluptatem ratione aliquam, reiciendis hic.
          </p>
        </div>
        <p class="reviews__author">Kate, New Jersey</p>
      </div>
    </div>
  </div>
</section>