<section class="section gallery" id="gallery">
  <h2 class="visually-hidden">Our products</h2>
  <div class="container">
    <ul class="grid__list list">
      <li class="grid__item grid__item-1">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-1.jpg 1x, ./images/gallery/slice-1@2x.jpg 2x"
            src="./images/gallery/slice-1@2x.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="grid__item grid__item-2">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-2.jpg 1x, ./images/gallery/slice-2@2x.jpg 2x"
            src="./images/gallery/slice-2@2x.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="grid__item grid__item-3">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-3.jpg 1x, ./images/gallery/slice-3@2x.jpg 2x"
            src="./images/gallery/slice-3@2x.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="grid__item grid__item-4">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-big.jpg 1x, ./images/gallery/slice-big@2x.jpg 2x"
            src="./images/gallery/slice-big@2x.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="grid__item grid__item-5">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-4.jpg 1x, ./images/gallery/slice-4@2x.jpg 2x"
            src="./images/gallery/slice-4@2x.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="grid__item grid__item-6">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-5.jpg 1x, ./images/gallery/slice-5@2x.jpg 2x"
            src="./images/gallery/slice-5@2x.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="grid__item grid__item-7">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-6.jpg 1x, ./images/gallery/slice-6@2x.jpg 2x"
            src="./images/gallery/slice-6@2x.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="grid__item grid__item-8">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-7.jpg 1x, ./images/gallery/slice-7@2x.jpg 2x"
            src="./images/gallery/slice-7@2x.jpg"
            alt=""
          />
        </div>
      </li>
      <li class="grid__item grid__item-9">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-8.jpg 1x, ./images/gallery/slice-8@2x.jpg 2x"
            src="./images/gallery/slice-8@2x.jpg"
          />
        </div>
      </li>
      <li class="grid__item grid__item-10">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery/slice-9.jpg 1x, ./images/gallery/slice-9@2x.jpg 2x"
            src="./images/gallery/slice-9@2x.jpg"
            alt=""
          />
        </div>
      </li>
    </ul>
  </div>
</section>
