<section class="section gallery" id="gallery">
  <h2 class="visually-hidden">Our products</h2>
  <div class="container">
    <ul class="grid__list list">
      <li class="grid__item grid__item-1">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice1.jpg 1x, ./images/gallery/slice1@2x.jpg 2x"
            src="./images/gallery/slice1@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-2">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice2.jpg 1x, ./images/gallery/slice2@2x.jpg 2x"
            src="./images/gallery/slice2@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-3">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice3.jpg 1x, ./images/gallery/slice3@2x.jpg 2x"
            src="./images/gallery/slice3@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-4">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slicebig.jpg 1x, ./images/gallery/slicebig@2x.jpg 2x"
            src="./images/gallery/slicebig@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-5">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice4.jpg 1x, ./images/gallery/slice4@2x.jpg 2x"
            src="./images/gallery/slice4@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-6">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice5.jpg 1x, ./images/gallery/slice5@2x.jpg 2x"
            src="./images/gallery/slice5@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-7">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice6.jpg 1x, ./images/gallery/slice6@2x.jpg 2x"
            src="./images/gallery/slice6@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-8">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice7.jpg 1x, ./images/gallery/slice7@2x.jpg 2x"
            src="./images/gallery/slice7@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-9">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice8.jpg 1x, ./images/gallery/slice8@2x.jpg 2x"
            src="./images/gallery/slice8@2x.jpg" alt="icecream" />
        </div>
      </li>
      <li class="grid__item grid__item-10">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner"
            srcset="./images/gallery/slice9.jpg 1x, ./images/gallery/slice9@2x.jpg 2x"
            src="./images/gallery/slice9@2x.jpg" alt="icecream" />
        </div>
      </li>
    </ul>
  </div>
</section>