<section class="section gallery" id="gallery">
  <h2 class="visually-hidden">Our products</h2>
  <div class="container">
    <!-- <picture class="gallery__image">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/gallery/desktop/gallery-desktop.png    1x,
          ./images/gallery/desktop/gallery-desktop@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/tablet/gallery-tablet.png    1x,
          ./images/gallery/tablet/gallery-tablet@2x.png 2x
        "
      />

      <img src="./images/gallery/desktop/gallery-desktop.png" alt="gallery" />
    </picture> -->

    <div class="list grid">
      <div class="grid__sizer"></div>
      <div class="grid__item">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-1.jpg    1x,
              ./images/gallery/desktop/slice-1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-1.jpg" alt="" />
        </picture>
      </div>
      <div class="grid__item"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-2.jpg    1x,
              ./images/gallery/desktop/slice-2@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-2.jpg" alt="" />
        </picture></div>
      <div class="grid__item"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-3.jpg    1x,
              ./images/gallery/desktop/slice-3@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-3.jpg" alt="" />
        </picture></div>
      <div class="grid__item"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-4.jpg    1x,
              ./images/gallery/desktop/slice-4@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-4.jpg" alt="" />
        </picture></div>
        <div class="grid__item grid__item--big"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-big.jpg    1x,
              ./images/gallery/desktop/slice-big@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-big.jpg" alt="" />
        </picture></div>
      <div class="grid__item"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-5.jpg    1x,
              ./images/gallery/desktop/slice-5@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-5.jpg" alt="" />
        </picture></div>
      <div class="grid__item"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-6.jpg    1x,
              ./images/gallery/desktop/slice-6@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-6.jpg" alt="" />
        </picture></div>
      <div class="grid__item"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-7.jpg    1x,
              ./images/gallery/desktop/slice-7@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-7.jpg" alt="" />
        </picture></div>
      <div class="grid__item"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-8.jpg    1x,
              ./images/gallery/desktop/slice-8@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-8.jpg" alt="" />
        </picture></div>
      <div class="grid__item"><picture>
          <source
            srcset="
              ./images/gallery/desktop/slice-9.jpg    1x,
              ./images/gallery/desktop/slice-9@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img src="./images/gallery/desktop/slice-9.jpg" alt="" />
        </picture></div>      
    </div>
  </div>
</section>
