// .gallery {
//   background-image: linear-gradient($secondary-body-color 40%, $primary-body-color 40%);
//   padding: 0;
// }
* { box-sizing: border-box; }

.gallery{
 background: linear-gradient()
}

.grid__sizer,
.grid__item {
  width: 138px;
  border-radius: 27px;
}
.grid__item {
  float: left;  
  height: 138px;
  border: 2px solid transparent;
  overflow: hidden;
  
}

.grid__item--big {
  width: 283px;
  height: 283px;
 }

 .grid:after {
  content: '';
  display: block;
  clear: both;
}
