.header {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: smooth-load 2000ms;

  @include for-tablet {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  @include for-desktop {
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: space-between;
  }
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__text {
  padding-left: 15px;

  font-family: $secondary-font;
  font-size: 26px;
  text-transform: uppercase;
  color: $primary-accent-color;
}

.menu-button {
  display: block;
  border: none;
  background-color: transparent;

  @include for-tablet {
    margin-left: auto;
  }

  @include for-desktop {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open {
  z-index: 5;
  position: fixed;
  top: 23px;
  right: 28px;
}

.menu-container {
  padding-top: 60px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 100%;
  z-index: 2;
  transform: translateX(0);
  transition: transform $transition-style;
  display: flex;
  flex-direction: column-reverse;
  background-color: $side-menu-bg-color;
  width: 100%;

  @include for-tablet {
    width: 254px;
  }

  @include for-desktop {
    width: auto;
    padding: 0;
    display: flex;
    position: static;
    align-items: center;
    background-color: transparent;
  }

  &.is-open {
    transform: translateX(-100%);
  }
}

.header-button {
  width: 200px;
  margin: 0 auto;

  @include for-desktop {
    display: none;
  }

  &-second {
    display: none;
    margin-left: 30px;

    animation: buy-now-pulse 2000ms infinite;

    @include for-tablet {
      display: block;
      min-width: 160px;
    }

    @include for-desktop {
      margin-left: 0;
      min-width: 159px;
    }

    &.is-open {
      display: none;
    }
  }
}

.header-navigation-list {
  margin-top: 21px;
  @media screen and (max-width: 1199px) {
    margin-bottom: 100vh;
  }

  @include for-desktop {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
}

.header-navigation-list-item {
  position: relative;
  border-top: 1px solid #e18298;

  @include for-desktop {
    border: none;
  }

  &:not(:first-child) {
    @include for-desktop {
      margin-left: 35px;
    }
  }

  &:last-child {
    border-bottom: 1px solid #e18298;

    @include for-desktop {
      border: none;
    }
  }
}

.header-navigation-link {
  display: block;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 700;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  transition: color $transition-style;

  @include for-desktop {
    margin: 0;
    font-size: 16px;
    line-height: 1.31;
  }

  &--action {
    color: #d41443;

    @include for-desktop {
      margin: 0;
      font-size: 16px;
      line-height: 1.31;
    }
  }

  &:hover {
    color: #d41443;
  }
}

.icon-menu {
  stroke: #d41443;
}

.icon-close {
  stroke: #fff;
}

.modal-buy {
  padding: 40px 40px;
  background-color: $secondary-accent-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and(min-width: 480px) {
    width: 450px;
  }

  @media screen and(min-width: 1200px) {
    width: 550px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  margin-top: 0;
  margin-bottom: 11px;
  font-family: $secondary-font;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-accent-color;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form__label {
  margin-left: 15px;
  margin-bottom: 4px;
  font-family: $main-font;

  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}

.form__input {
  margin: 0;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;

  border-radius: 26px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $primary-accent-color;
  }
}

.form__label-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #e18298;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .form__label-icon {
  fill: $primary-accent-color;
}

.form__textarea {
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #e18298;
}

.btn-buy {
  margin-bottom: 8px;
}
